.colSelected{
  background-color: red;
  border: #000;
  border-style: solid;
  border-width: 1px;
  padding: 0px 10px;
}

.col{
  background-color: white;
  border: #000;
  border-style: solid;
  border-width: 1px;
  padding: 0px 10px;
}
