#my-canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.exitBtn{
  position: fixed;
  right:20px;
  top: 20px;
  width:50px;
  height:50px;
  z-index: 2;
}

.exitBtn img{
width:50px;
height:50px;
}

.photoBtn{
  position: fixed;
  bottom: 80px;
  width: 100%;
  height: 100px;
  z-index: 2;
}

.photoBtn img{
  width:100px;
  height:100px;
  margin: auto;
  display: block;
}
