#my-canvas{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.catch{
  z-index: 30;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: #0007;
  color: #fff;
  padding: 5px 15px;
}

.catchQuest{
  z-index: 30;
  position: fixed;
  left: 0px;
  top: 50px;
  width: 100%;
  background: #0007;
  color: #fff;
  padding: 5px 15px;
}
