.title{
    text-align: center;
    padding: 10px 0px;
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
}

.card{
  background-color: #fffa;
  margin: 10px;
  text-align: justify;
  text-indent: 2em;
}

.imageHolder{
  position: relative;
}

.imageHolder .btnOverImage {
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 30px;
    padding: 10px;
}

.logo {
  width:100%;
}

.cityDruids{
  text-align: center;
  font-size: 3em;
  font-family: system-ui;
  font-weight: bold;
  padding-top: 50px;
}

.presents{
  text-align: center;
  font-size: 1.5em;
  font-family: system-ui;
}
