.card{
  border-color: green;
  border-style: solid;
  border-width: 3px;
  text-decoration: none;
}

.cardBody{
  background: rgb(148,170,196);
  background: linear-gradient(135deg, rgba(148,170,196,1) 0%, rgba(84,154,88,1) 100%);
}

.cardText{
  color: #fff;
  font-weight: bold;
}

.level{
  position: absolute;
  top: 10px;
  right: 10px;
}
